@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    margin: auto;
    font-family: Roboto;
}

/** login and signup forms**/
form.signup, form.login {
    max-width: 60%;
    margin: 10vh auto;
    padding: 20px;
    background: gray;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

