@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    margin: auto;
    font-family: Roboto;
    color: #000000;
    background: #d8d7d7;
    
}

nav{
    font-size: 20px;
}

.home-container{
    background-image: url("./images/background.jpg");
    background-position: center;
    background-size: cover;
    height: 88.6vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5rem;
    color: #ffff;
}

/** login and signup forms**/
form.signup, form.login {
    max-width: 30rem;
    margin: 10vh auto;
    padding: 20px;
    background: #5adfcf;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow:  5px 10px 18px #888888;
    border: 2px solid black;
}

.login input{
    border-radius: 5px;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    width: 80%;
    margin: 1 rem auto;
    border-radius: 8px;
}

.login button, .signup button{
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #222222;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #1aac83;
    color: #222222;
    width: 25%;
    margin: 0 auto;
}

.login label, .signup label{
    margin-left: 2rem;
}

.signup input{
    border-radius: 5px;
    margin-bottom: .5rem;
    margin-left: 2rem;
    width: 80%;
    margin: 0.5 auto;
    border-radius: 8px;
}

.signup select{
    margin-left: 2rem;
    margin-bottom: .5rem;
}

/* nav */

.logo{
    width: 80px;
    
}




